.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loader svg {
  filter: drop-shadow(100 0 1 #222);
  /* filter: drop-shadow(100 0 0 lightgreen); */
}

.loader circle {
  fill: none;
  stroke: white;
  stroke-dasharray: 50, 50;
  stroke-dashoffset: 10;
  stroke-width: 10;
  animation: rotate 2s ease-in-out infinite alternate;
}

@keyframes rotate {
  0% {
    stroke-dasharray: 80, 80;
    stroke-dashoffset: 70;
    stroke: white;
    r: 60;
  }
  100% {
    stroke-dasharray: 50, 50;
    stroke-dashoffset: -600;
    opacity: 0.5;
    r: 80;
  }
}
