@media (min-width: 780px) {
  .nav-links {
    position: fixed;
    border: 1px solid red;
    border-radius: 50px;
    bottom: 80px;
    & .link {
      &:hover{
        background-color:yellow;
      }
      opacity: 1;
      width: 100px;
      border-radius: 50%;
      border: 1px solid red;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      &:nth-child(1) {
        margin-left: 20px;
      }
      &:last-child {
        margin-right: 20px;
      }
    
    }

    & li > .icon {
      width: 30px;
      height: 30px;
    }
    & a {
      color: black;
    }
  }
}

@media (max-width: 780px) {
  .burger {
    position: fixed;
    background-color: #121212;
    width: 40px;
    height: 40px;
    top: 2px;
    left: 2px;
    z-index: 1;
    & .b {
      //background-color: white;
      width: 40px;
      height: 40px;
      color: white;
      position: absolute;
      cursor: pointer;
    }
  }
  
  .nav-links.open {
    width: 100%;
    opacity: 1;
  }
  .nav-links {
    border: 1px solid red;
    transition: opacity 0.3s linear;
    transition: width 0.3s linear;
    position: fixed;
    bottom: 120px;
    width: 0%;
    opacity: 0;
    top: 0;
    height: 100%;
    background: #1a1a1a;
    ul {
      padding: 5px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      border: 1px solid red;
      margin-top: 50px;
      font-weight: 700;
      .link {
        border-radius: 25px;
        display: flex;
        font-size: 0.8rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid red;
        cursor: pointer;
        width: 120px;
        height: 50px;
        margin-top: 15px;
        background-color: white;
        &:hover {
          background: palevioletred;
        }
        .icon {
          width: 20px;
          height: 20px;
        }
        a{
          color: black;
          transition: color 0.8s ease;
          &:hover{
            color: red;
          }
        }
      }
    }
  }
}

.mt-100 {
  margin-top: 100px;
}
.img-container {
  .img {
    border: 1px solid black;
    width: 250px;
    height: 300px;
    border-radius: 48%;
    background-image: url(../public/ulrich.jpg);
    background-size: cover; /* Assure que l'image de fond couvre complètement le conteneur */
    background-position: center center; /* Centre l'image de fond */
    background-repeat: no-repeat; /* Empêche la répétition de l'image de fond */
    position: relative;
    z-index: -1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
}

body {
  //background: linear-gradient(to bottom, #904e95, #667eea, #667eea);
}
@keyframes disparition {
  0% {
    width: 100%;
    height: 100%;
    font-size: 1rem;
  }

  100% {
    width: 0%;
    height: 0%;
    font-size: 0rem;
    border: 0px;
  }
}
@keyframes apparition {
  0% {
    width: 0%;
    height: 0%;
    font-size: 0rem;
  }

  100% {
    width: 100%;
    height: 100%;
    font-size: 1rem;
  }
}

.footer {
  z-index: -1;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  //background-color: #333;
  color: #fff;
  text-align: center;
  color: red;
  bottom: 0;
}

.App {
  .about {
    height: 500px;
  }
  .education {
    height: 500px;
  }
}
